/* ===== general ===== */
body {
  margin: 0;
  font-family: "Georgia", serif;
}

/* ===== general ===== */
body {
  margin: 0;
}

/* ===== landing ===== */
.landing {
  height: 100vh;
  background: linear-gradient(135deg, #f8e1ff, #e3c8f7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope-wrapper {
  position: relative;
  text-align: center;
}

/* envelope picture */
.envelope-img {
  width: 320px;
  max-width: 90vw;
}

/* button */

.heart-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #7d47a6;
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 22px;
  text-decoration: none;   /* removes underline */
  cursor: pointer;
  transition: background 0.3s;
}

.heart-btn:hover {
  background-color: #6c3f8f;
}



/* ===== letter page ===== */
.letter-page {
  background: linear-gradient(135deg, #f8e1ff, #DBB8FF);
  min-height: 100vh;
  padding: 40px;
  font-size: 18px;
  color: #3b0764;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-container {
  max-width: 1000px;
  margin: auto;
  background: white;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  gap: 20px;
}

.side-images {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-images img {
  width: 100%;
  border-radius: 10px;
}

.message {
  flex: 1;
  font-size: 18px;
  line-height: 1.6;
}
