/* ===== general ===== */
body {
  margin: 0;
  font-family: "Georgia", serif;
}

/* ===== general ===== */
body {
  margin: 0;
}

/* ===== landing ===== */
.landing {
  height: 100vh;
  background: linear-gradient(135deg, #f8e1ff, #e3c8f7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope-wrapper {
  position: relative;
  text-align: center;
}

/* envelope picture */
.envelope-img {
  width: 320px;
  max-width: 90vw;
}

/* heart button */
.heart-btn {
  position: absolute;
  bottom: -40px; /* move below the envelope */
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 22px;
  border-radius: 25px;
  background: #7d47a6;
  color: white;
  text-decoration: none;
  font-family: 'Parisienne', cursive;
  font-size: 22px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}


/* cute hover */
.heart-btn:hover {
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 12px 22px rgba(0,0,0,0.2);
}

/* ===== letter page ===== */
.letter-page {
  background: linear-gradient(135deg, #f8e1ff, #DBB8FF);
  min-height: 100vh;
  padding: 40px;
  font-family: 'Playfair Display', serif;
  color: #3b0764;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-container {
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  gap: 20px;
}

.side-images {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-images img {
  width: 100%;
  border-radius: 10px;
}

.message {
  flex: 1;
  font-size: 22px;
  line-height: 1.6;
}
